syntax: glob
*.log
*.tlog
*.obj
*.lib
*.lastbuildstate
*.pdb
*.ilk
*.idb
*.opensdf
*.sdf
*.v11.suo
*.v12.suo
*.exe
*.dll
*/ShaderCompileLog.txt
*.unsuccessfulbuild
Thumbs.db
*.psd
*.csv
*.cache
*out
*/Screenshots/*
Aqueous/Aqueous.vcxproj.user
NewMat/NewMat.vcxproj.user
Aqueous/x64/*
temp/

!Aqueous/Meshes/*